.result-list-container {
  display: grid;
  grid-template-columns: 60% 40%;
  padding-bottom: 85px;
  width: 100%;
  flex: 1;
}

.result-list-wrapper {
  padding-left: 8rem;
}

@media screen and (max-width: 900px) {
  .result-list-container {
    grid-template-columns: 100%;
  }
  .result-list-wrapper {
    padding-left: 2rem;
  }
}
