/* Containers */
.result-container,
.result-container-message,
.result-container-body,
.search-component-result-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.result-container {
  height: var(--default-height);
  justify-content: space-between;
}

.result-container-body {
  margin-top: 85px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-component-result-container {
  flex: 2;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

/* Statics */
.image-result-container {
  width: 92px;
  height: 30px;
  margin-right: 10px;
}

@media screen and (min-width: 1500px) {
  .result-container-body {
    margin-top: 85px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellow;
    padding: 0;
  }
}
