/* Conatiners */
.result-container, .result-container-message, .result-container-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.result-container {
  height: var(--default-height);
  flex: 1;
  justify-content: space-between;
}

.result-container-body {
  margin-top: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.search-component-result-container {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: flex-start;
}

/* statics */
.image-result-container {
  width: 92px;
  height: 30px;
  margin-right: 10px;
}
