/* Conatiners */
.result-container {
  height: var(--default-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.result-container-message { 
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.result-container-body {
  margin-top: 85px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
}

/* Text */
.text-feeback-message {
  font-size: var(--text-small);
}

.text-feeback-message--bolder {
  color: black;
  font-weight: bolder;
}
