.text-default {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #70757a;
  font-size: var(--text-medium);
}

.text-very-small {
  font-size: var(--text-very-small);
}
  
.text-small {
  font-size: var(--text-small)
}

.text-medium {
  font-size: var(--text-medium)
}

.text-large {
  font-size: var(--text-large)
}

.text-extra-large {
  font-size: var(--text-large)
}