:root {
    /* Cores */
    --background-color: white;
    --primary-color: #f8f9fa;
    --secondary-color: #3c4003;
    --text-color-default: #000000;
    --text-title: var(--secondary-color);
    --text-link: tomato;
    --text-hyperlink: blue;
    --text-footer: var(--secondary-color);
    --text-paragraph: var(--secondary-color);

    /* Tamanhos de texto */
    --text-very-small: 0.8rem;;
    --text-small: 1rem;
    --text-medium: 1.5rem;
    --text-large: 2rem;
    --text-extra-large: 2.5rem;

    /* Altura padrão */
    --default-height: 100vh;
}
