/* Containers */
.footer-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  max-height: 65px;
  background-color: #e3e6e8;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
}

/* Text */
:root {
  --margin-footer-text: 10px;
}

.text-footer--font-size {
  font-size: var(--text-very-small);
}

.text-footer--color {
  color: #70757a;
}
