button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--button-bg-color-enabled);
  color: var(--button-tx-color-enabled);
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s;
}

button:hover {
  background-color: rgba(97, 98, 98, 0.1);
}

button:disabled {
  background-color: var(--button-bg-color-disabled);
  color: var(--button-tx-color-disabled);
  cursor: auto;
}
