/* Containers */
.result-container-message {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  width: 100%;
}

/* Text */
.text-feeback-message {
  margin: 0;
  padding: 4px;
  font-size: var(--text-small);
  color: var(--text-default-color);
}

.text-feeback-message > span {
  font-weight: bolder;
}


